.section-products {
    padding: 1rem 0;
}

.section-discount {
    padding: 1.5rem 0 0rem 0;    
}

@media(max-width: 997.98px) {
    .section-orderBy {
        padding-top: 3rem;
    }
}

.spinner-wrapper {
    padding: 15rem 0;
}

.inner-box {
    background: #0092ff;
    padding: 8px 0;
}

[nz-row] {
    padding-bottom: .5rem;
}

nz-select {
    margin: 0 8px 10px 0;
}

.categories {
    background-color: #061529;
    padding: 1rem;
    margin-bottom: 1rem;

    &-title {
        font-weight: bold;
        color: azure; 
        margin: 0;
    }
}

nz-checkbox-wrapper {
    font-size: 13pt;
}