<div class="wrapper">
  <button nz-button nzType="primary" (click)="toggleCollapsed()">
    <i nz-icon [nzType]="isCollapsed ? 'shopping-cart' : 'close'"></i>
  </button>
  <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed" [ngStyle]="{'visibility': isCollapsed ? 'hidden' :  'initial'}">
    <div *ngIf="(shoppingItems$ | async)?.length > 0; else noItems">
      <div nz-row class="item-container" *ngFor="let item of shoppingItems$ | async">
        <div nz-col [nzXs]="{ span: 4 }" [nzLg]="{ span: 4 }" align="center">
          <img src="{{ item.image }}" alt="item-image" height="80" width="50">
        </div>
        <div nz-col [nzXs]="{ span: 14 }" [nzLg]="{ span: 14 }" class="item-container-details">
          <p class="title">{{ item.description | slice:0:20 }}...</p>
          <p class="quantity">Quantity: 1</p>
          <button class="quantity-button">
            <i nz-icon nzType="minus" nzTheme="outline"></i>
          </button>
          <button class="quantity-button">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
          </button>
        </div>
        <div nz-col [nzXs]="{ span: 6 }" [nzLg]="{ span: 6}" class="item-container-price" align="right">
          <i nz-icon nzType="delete" nzTheme="outline" (click)="deleteItem(item)"></i>
          <p class="price">{{ item.price }} €</p>
        </div>
      </div>
    </div>

    <ng-template #noItems>
      <div nz-row class="item-container">
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }" align="center" class="no-item-wrapper">
          <i nz-icon nzType="shopping" nzTheme="outline"></i>
          <h5>No items added :(</h5>
        </div>
      </div>
    </ng-template>
    
    <div class="total-container">
      <div nz-row>
        <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 12 }">
          <p>SUBTOTAL</p>
        </div>
        <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 12 }" align="right">
          <p class="price">{{calculateTotalPrice()}} €</p>
        </div>
      </div>
      <div nz-row class="total-container-checkout">
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }" align="center">
            <button nz-button nzType="primary">
              CHECKOUT
            </button>
        </div>
      </div>
    </div>

  </ul>
</div>