.wrapper {
    width: 440px;
    height: 100%;
    position: fixed;
    z-index: 1;

    & > button {
        width: 60px;
        height: 60px;
    }
}

@media(max-width: 997.98px) {
    .wrapper {
        width: 100%;
    }
}

ul {
    height: 100%;
}

.item-container {
    padding: 4rem 2rem 0 3rem;

    &-details {
        padding-top: 1rem;
        padding-left: .5rem;
    }

    &-details > .title {
        font-size: 12pt;
        color: azure;
    }
    &-details > .quantity {
        font-size: 11pt;
        color: rgb(179, 179, 179);

        &-button {
            cursor: pointer;
            border: none;
            background-color: #061529;
        }
    }

    &-price {
        padding-top: .25rem;
        padding-right: 1rem;
    }

    &-price > i{
        font-size: 13pt;
        cursor: pointer;
    }
    
    &-price > .price {
        padding-top: 2rem;
        font-size: 12pt;
        color: azure;
    }
}

.total-container {
    padding: 4rem 3rem 2rem 3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #061529;
    box-shadow: 0 -15px 10px -5px #050f1b;

    & > div > div > .price {
        font-size: 14pt;
        color: azure;
    }

    &-checkout {
        margin-top: 2rem;
    }

    &-checkout > div > button {
        width: 80%;   
    }
}

.no-item-wrapper {
    & > i {
        font-size: 28pt;
    }

    & > h5 {
        margin-top: 2rem;
        font-size: 20pt;
        color: azure;
    }
}