<nz-layout class="layout">
  <nz-sider class="sider" nzCollapsible [nzCollapsedWidth]="0" [nzTrigger]="null" [nzWidth]="440" [(nzCollapsed)]="isCollapsed">
    <div nz-row class="title-sider">
      <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }" align="center">
        <h1 class="title-sider-cart">CART</h1>
      </div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <div *ngIf="(shoppingItems$ | async)?.length > 0; else noItems">
        <div nz-row class="item-container" *ngFor="let item of shoppingItems$ | async">
          <div nz-col [nzXs]="{ span: 4 }" [nzLg]="{ span: 4 }" align="center">
            <img src="{{ item.image }}" alt="item-image" height="80" width="50">
          </div>
          <div nz-col [nzXs]="{ span: 14 }" [nzLg]="{ span: 14 }" class="item-container-details">
            <p class="title">{{ item.description | slice:0:20 }}...</p>
            <p class="quantity">Quantity: {{ item.quantity }}</p>
            <button class="quantity-button" (click)="reduceQuantityToItem(item)">
              <i nz-icon nzType="minus" nzTheme="outline"></i>
            </button>
            <button class="quantity-button" (click)="addQuantityToItem(item)">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </div>
          <div nz-col [nzXs]="{ span: 6 }" [nzLg]="{ span: 6}" class="item-container-price" align="right">
            <i nz-icon nzType="delete" nzTheme="outline" (click)="deleteItem(item)"></i>
            <p class="price">{{ item.price * item.quantity | number }} €</p>
          </div>
        </div>
      </div>

      <ng-template #noItems>
        <div nz-row class="item-container">
          <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }" align="center" class="no-item-wrapper">
            <i nz-icon nzType="shopping" nzTheme="outline"></i>
            <h5>No items added :(</h5>
          </div>
        </div>
      </ng-template>

      <div class="total-container" [ngStyle]="{'position': isCollapsed ? 'initial' :  'absolute'}">
        <div nz-row *ngIf="totalPrice">
          <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 12 }">
            <p>SUBTOTAL</p>
          </div>
          <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 12 }" align="right">
            <p class="price">{{ totalPrice | number }} €</p>
          </div>
        </div>
        <div nz-row class="total-container-checkout">
          <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 24 }" align="center">
              <button nz-button nzType="primary" [disabled]="!totalPrice">
                CHECKOUT
              </button>
          </div>
        </div>
      </div>
    </ul>
  </nz-sider>
</nz-layout>

<nz-layout>
  <nz-header>
    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'shopping-cart' : 'close'" (click)="isCollapsed = !isCollapsed"></i>
  </nz-header>
</nz-layout>